{% extends "Principal.html" %}
{% load static %}
{% block link_css %}
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
{% endblock %}

{% block contenido %}
    <div class="container">
        <h1>feedbacks de los vuelos que este el pasajero {{ pasajero.id }}</p></h1>
        {% include 'Listas/Pasajero.html' %}
        <h1>feedbacks</p></h1>
            {% for feedback in feedbacks %}
                <article>
                    <h2>Datos del vuelo</h2>
                    <p><strong>Vuelo ID:</strong> {{ feedback.vuelo.id }}</p>
                    <p><strong>Hora Salida:</strong> {{ feedback.vuelo.hora_salida }}</p>
                    <p><strong>Hora llegada:</strong> {{ feedback.vuelo.hora_llegada }}</p>
                    <p><strong>Estado:</strong> {{ feedback.vuelo.estado }}</p>
                    <p><strong>Duracion:</strong> {{ feedback.vuelo.duracion }}</p>
                    <h2>Estadisticas del vuelo</h2>
                    <p><strong>Fecha:</strong> {{ feedback.fecha_estadisticas }}</p>
                    <p><strong>Asientos vendido:</strong> {{ feedback.numero_asientos_vendidos }}</p>
                    <p><strong>Asientos cancelados:</strong> {{ feedback.numero_cancelaciones }}</p>
                    <p><strong>feedback:</strong> {{ feedback.feedback_pasajeros }}</p>
                </article>
            {% endfor %}
    </div>
{% endblock %}