{% extends "Principal.html" %}
{% load static %}
{% block link_css %}
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
{% endblock %}

{% block contenido %}
    <div class="container">
        <h1>Peso Total del Equipaje</h1>
    
            <h2>Peso Total:{{ peso_total }} kg</p></h2>
            <h3>Detalles de los Equipaje:</h3>
            
            {% for equipaje in equipajes %}
                {% include 'Listas/Equipaje.html' %}
            {% endfor %}
    </div>
{% endblock %}
    