{% extends "Principal.html" %}
{% load static %}
{% block link_css %}
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
{% endblock %}

{% block contenido %}
    <div class="container">
            <h1>Reservas con Método de Pago:</h1>
            {% for reserva in reservas %}
                
                    <h2>Pasajero: {{ reserva.pasajero.nombre }} en el vuelo {{ reserva.vuelo.id }}</h2>
                    <article>
                    {% include 'Listas/Reserva.html' %}
                    </article>
            {% endfor %}
    </div>
{% endblock %}