{% extends "Principal.html" %}
{% load static %}
{% block link_css %}
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
{% endblock %}

{% block contenido %}
    <div class="container">
        <h1>Vuelos Entre aeropuertos</h1>
            {% for vuelo in vuelos %}
                <article>
                    <p><strong>ID del vuelo:</strong> {{ vuelo.id }}</p>
                    <p><strong>Hora Salida:</strong> {{ vuelo.hora_salida }}</p>
                    <p><strong>Hora Salida:</strong> {{ vuelo.hora_llegada }}</p>
                    <p><strong>Estado:</strong> {% if vuelo.estado %} Volando {% else %} Aterrizado {% endif %}</p> 
                    <p><strong>Duracion:</strong> {{ vuelo.duracion }}</p>
                    <p><strong>Aeropuerto origen:</strong> {{ vuelo.origen.nombre }}</p>
                    <p><strong>Aeropuerto destino:</strong> {{ vuelo.destino.nombre }}</p>
                </article>
            {% endfor %}
    </div>
{% endblock %}
