{% extends "Principal.html" %}
{% load static %}
{% block link_css %}
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
{% endblock %}

{% block contenido %}
    <div class="container">
        <h1>Listado de Vuelos por Aerolínea</h1>
        {% for vuelo_aerolinea in vuelos_aerolineas %}
        <article>
            <h2>Vuelo Aerolínea</h2>
            <p><strong>ID:</strong> {{ vuelo_aerolinea.id }}</p>
            <p><strong>Aerolinea:</strong> {{vuelo_aerolinea.aerolinea.nombre }}</p>
            <p><strong>Vuelo:</strong> {{vuelo_aerolinea.vuelo.id }}</p>
            <p><strong>Fecha Operación:</strong> {{ vuelo_aerolinea.fecha_operacion }}</p>
            <p><strong>Estado:</strong> {{ vuelo_aerolinea.estado }}</p>
            <p><strong>Clase:</strong> {{ vuelo_aerolinea.clase }}</p>
            <p><strong>Incidencias:</strong> {{ vuelo_aerolinea.incidencias }}</p>
        </article>
        {% endfor %}
    </div>
{% endblock %}