{% extends "Principal.html" %}
{% load static %}
{% block link_css %}
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
{% endblock %}

{% block contenido %}
    <div class="container">
        <h1>Listado de Vuelos</h1>
        {% for vuelo in vuelos %}
            <article>
                <h2>Vuelo {{ forloop.counter }}</h2>
                <p><strong>ID:</strong> {{ vuelo.id }}</p>
                <p><strong>Hora de Salida:</strong> {{ vuelo.hora_salida|date:"d/m/Y H:i" }}</p>
                <p><strong>Hora de Llegada:</strong> {{ vuelo.hora_llegada|date:"d/m/Y H:i" }}</p>
                <p><strong>Estado:</strong> {{ vuelo.estado}}</p>
                <p><strong>Duracion:</strong> {{ vuelo.duracion }}</p>
                <p><strong>Origen:</strong> {{ vuelo.origen }}</p>
                <p><strong>Destino:</strong> {{ vuelo.destino }}</p>
            </article>
        {% endfor %}
        <div class="refresh">
            <a href="{% url 'lista_vuelo' %}">Refrescar la Lista</a>
        </div>
    </div>
{% endblock %}
