<div class="dropdown ms-3"> <!-- Margen izquierdo -->
    <button class="btn dropdown-toggle text-white" id="menuButton" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fa-solid fa-bars"></i> Formulario
    </button>
    <ul class="dropdown-menu dropdown-menu-end">
        <li>
            <a class="dropdown-item" href="{% url 'crear_aeropuerto' %}">Crear Aeropuerto</a>
        </li>
        <li>
            <a class="dropdown-item" href="{% url 'Aeropuerto_buscar_avanzado' %}">Buscar Aeropuerto </a>
        </li>
        <li>
            <a class="dropdown-item" href="{% url 'crear_estadisticasvuelo' %}">Crear Estadisticas de vuelo </a>
        </li>
        <li>
            <a class="dropdown-item" href="{% url 'crear_contacto' %}">Crear Contacto del Aeropuerto </a>
        </li>
        <li>
            <a class="dropdown-item" href="{% url 'crear_Aerolinea' %}">Crear Aerolinea </a>
        </li>
        <li>
            <a class="dropdown-item" href="{% url 'crear_Vuelo' %}">Crear Vuelo </a>
        </li>
        <li>
            <a class="dropdown-item" href="{% url 'crear_pasajero' %}">Crear Pasajero </a>
        </li>
    </ul>
</div>
