<div class="dropdown ms-3"> <!-- Margen izquierdo -->
    <button class="btn dropdown-toggle text-white" id="menuButton" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fa-solid fa-bars"></i> Formulario
    </button>
    <ul class="dropdown-menu dropdown-menu-end">
        <li>
            <a class="dropdown-item" href="{% url 'crear_aeropuerto' %}">Crear Aeropuerto</a>
        </li>
        <li>
            <a class="dropdown-item" href="{% url 'busqueda_aeropuerto' %}">Buscar Aeropuertos</a>
        </li>
    </ul>
</div>
