<article>
    <h2>Estadística de Vuelo {{ forloop.counter }}</h2>
    <p><strong>Vuelo:</strong> {{ estadistica.vuelo.id }}</p>
    <p><strong>Fecha estadistica Vuelo:</strong> {{ estadistica.fecha_estadisticas }}</p>
    <p><strong>Número de Asientos Vendidos:</strong> {{ estadistica.numero_asientos_vendidos }}</p>
    <p><strong>Número de Cancelaciones:</strong> {{ estadistica.numero_cancelaciones }}</p>
    <p><strong>Feedback de Pasajeros:</strong> {{ estadistica.feedback_pasajeros }}</p>
</article>