{% extends "Principal.html" %}

{% block contenido %}
{% load django_bootstrap5 %} 
<div class="container mt-5">
    <h1 class="text-center mb-4">Búsqueda Avanzada de Aeropuertos</h1>

    <!-- Formulario de búsqueda -->
    <form method="get" action="">
        <div class="row g-3">
            <!-- Campo Nombre -->
            <div class="col-md-4">
                {% bootstrap_field form.nombre show_label=True %}

                <div class="invalid-feedback">
                    {% for error in formulario.fecha_inspeccion.errors %} 
                        {{ error }}
                    {% endfor %}
                </div>
            </div>
            

            <!-- Campo Ciudad -->
            <div class="col-md-4">
                <label for="{{ form.ciudades.id_for_label }}" class="form-label">{{ form.ciudades.label }}</label>
                {{ form.ciudades }}
            </div>

            <!-- Campo País -->
            <div class="col-md-4">
                <label for="{{ form.pais.id_for_label }}" class="form-label">{{ form.pais.label }}</label>
                {{ form.pais }}
            </div>
        </div>

        <!-- Botón de búsqueda -->
        <div class="d-flex justify-content-center mt-4">
            <button type="submit" class="btn btn-primary btn-lg">Buscar</button>
        </div>
    </form>


    <!-- Resultados -->
    <div class="mt-5">
        <h2 class="text-center">Resultados</h2>
        {% if aeropuertos %}
            <table class="table table-striped table-hover mt-4">
                <thead class="table-dark">
                    <tr>
                        <th>Nombre</th>
                        <th>Ciudad</th>
                        <th>País</th>
                        <th>Capacidad Máxima</th>
                    </tr>
                </thead>
                <tbody>
                    {% for aeropuerto in aeropuertos %}
                        <tr>
                            <td>{{ aeropuerto.nombre }}</td>
                            <td>{{ aeropuerto.ciudades }}</td>
                            <td>{{ aeropuerto.pais }}</td>
                            <td>{{ aeropuerto.capacidad_maxima }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="alert alert-warning text-center mt-4" role="alert">
                No se encontraron resultados para los criterios de búsqueda.
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}
